$green : #008081;
$blue : #0000AA;
$grey : #C0C0C0;

body{
  margin: 0;
  background: $green;
  font-family: monospace;  
}
h1{text-align: center;}

.settings{
  height: 25vh;
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;

  .button{
    height: 75px;
  }
}

.container-clav{
  height: 50vh;
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.button{
  border-width: 4px;
  outline: none;
  font-family: monospace;
  font-weight: bold;
  height: 200px;
  width: 75px;
  background: $grey;
  text-align: center;
}
